In [1]:
#Import dependencies
import pandas as pd

In [2]:
ELA_data = "2013-2019_ELA_Test_Results_District.xlsx"

SWD_df = pd.read_excel(ELA_data, 'SWD')

In [3]:
SWD_df

,District,Grade,Year,Category,Number Tested,Mean Scale Score,# Level 1,% Level 1,# Level 2,% Level 2,# Level 3,% Level 3,# Level 4,% Level 4,# Level 3+4,% Level 3+4
0,1,3,2013,Not SWD,720,312.513886,188,26.111111,240,33.333332,215,29.861111,77,10.694445,292,40.555557
1,1,3,2014,Not SWD,650,311.641541,175,26.923077,184,28.307692,224,34.461540,67,10.307693,291,44.769230
2,1,3,2015,Not SWD,576,314.137146,135,23.437500,175,30.381945,178,30.902779,88,15.277778,266,46.180557
3,1,3,2016,Not SWD,584,325.650696,71,12.157535,172,29.452055,250,42.808220,91,15.582191,341,58.390411
4,1,3,2017,Not SWD,566,324.125427,81,14.310954,153,27.031801,223,39.399292,109,19.257950,332,58.657246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3131,32,All Grades,2015,SWD,1350,261.284454,1034,76.592590,265,19.629629,49,3.629630,2,0.148148,51,3.777778
3132,32,All Grades,2016,SWD,1292,268.434204,905,70.046440,330,25.541796,50,3.869969,7,0.541796,57,4.411765
3133,32,All Grades,2017,SWD,1268,269.122253,848,66.876968,352,27.760252,56,4.416404,12,0.946372,68,5.362776
3134,32,All Grades,2018,SWD,1132,581.493835,708,62.544170,300,26.501766,107,9.452297,17,1.501767,124,10.954063
3135,32,All Grades,2019,SWD,1087,579.173889,683,62.833488,313,28.794847,72,6.623735,19,1.747930,91,8.371665

In [4]:
clean1_df_SWD=SWD_df[SWD_df.Year==2019]

In [7]:
clean1_df_SWD

,District,Grade,Year,Category,Number Tested,Mean Scale Score,# Level 1,% Level 1,# Level 2,% Level 2,# Level 3,% Level 3,# Level 4,% Level 4,# Level 3+4,% Level 3+4
6,1,3,2019,Not SWD,549,610.976318,19,3.460838,140,25.500910,266,48.451729,124,22.586521,390,71.038254
13,1,4,2019,Not SWD,536,609.705200,42,7.835821,120,22.388060,192,35.820896,182,33.955223,374,69.776123
20,1,5,2019,Not SWD,520,609.834595,103,19.807692,133,25.576923,128,24.615385,156,30.000000,284,54.615383
27,1,6,2019,Not SWD,521,611.264893,72,13.819578,91,17.466412,87,16.698656,271,52.015354,358,68.714012
34,1,7,2019,Not SWD,547,614.930542,68,12.431444,116,21.206581,146,26.691042,217,39.670933,363,66.361977
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3107,32,5,2019,SWD,177,580.242920,132,74.576271,32,18.079096,12,6.779661,1,0.564972,13,7.344633
3114,32,6,2019,SWD,217,576.511536,154,70.967743,46,21.198156,9,4.147465,8,3.686636,17,7.834101
3121,32,7,2019,SWD,176,580.323853,118,67.045456,47,26.704546,10,5.681818,1,0.568182,11,6.250000
3128,32,8,2019,SWD,192,582.401062,94,48.958332,80,41.666668,12,6.250000,6,3.125000,18,9.375000
3135,32,All Grades,2019,SWD,1087,579.173889,683,62.833488,313,28.794847,72,6.623735,19,1.747930,91,8.371665